.core-strengths-main {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h2 {
  text-align: center;
  color: white;
}

.core-strengths-card {
  padding: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .core-strengths-main {
    grid-template-columns: repeat(1, 100%);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .core-strengths-main {
    grid-template-columns: repeat(1, 100%);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .core-strengths-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .core-strengths-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .core-strengths-main {
    grid-template-columns: repeat(3, 1fr);
  }
}
