* {
  color: white;
}
#study-abroad {
  margin-top: 100px;
}
h1 {
  text-align: center;
}

.study-abroad-main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
}

.country-card {
  border: 1px solid gray;
  height: 300px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-card a {
  text-decoration: none;
  margin-top: 20px;
  border: 1px solid gray;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  padding: 8px 0;
}

.country-card a:hover {
  background-color: orangered;
  transition: 0.3s;
  border: 1px solid red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .study-abroad-main {
    grid-template-columns: repeat(1, auto);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .study-abroad-main {
    grid-template-columns: repeat(1, auto);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .study-abroad-main {
    grid-template-columns: repeat(4, auto);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .study-abroad-main {
    grid-template-columns: repeat(4, auto);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .study-abroad-main {
    grid-template-columns: repeat(4, auto);
  }
}
